
<div class="tema">
    <img src="/assets/sun.png">
</div>

<div class="logo">
    <img src="/assets/logo.png" alt="">
</div>

<div class="titulo ">
    <img src="/assets/coronavirus.png" alt="" class="coronavirus">
    <img src="/assets/info.png" alt="" class="info">

    <div class="texto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quos libero veniam itaque optio asperiores eius labore assumenda dolorem deserunt cumque natus distinctio dolor ad cupiditate magnam voluptate, fugiat cum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis distinctio voluptatibus similique veritatis aliquam tenetur eius earum, beatae obcaecati esse quas nostrum! Iste deserunt, nam distinctio dolorum inventore praesentium recusandae.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit dolore iste quam provident necessitatibus qui nostrum repellendus ut, debitis ipsum voluptatem modi, nesciunt id aliquam iure enim nobis veniam nemo.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, atque porro illo voluptatum sunt quia quo aliquam corporis necessitatibus nobis iste placeat maxime, earum facere. Nobis accusamus maiores quos nesciunt?
        </p>
    </div>
</div>



<div class="situacao-global">
    <img src="/assets/earth-globe.png" alt="">
    <h3 class="titulo-card">Situação Global</h3>
</div>

<div class="afetados">
    <img src="/assets/warning.png" alt="" class="icone-card">
    <div class="texto-cards">
        <p>1900000</p>
        <h3>Afetados</h3>
    </div>
</div>

<div class="curados">
    <img src="/assets/paciente.png" alt="" class="icone-card">
    <div class="texto-cards">
        <p>1900000</p>
        <h3>Curados</h3>
    </div>
</div>

<div class="mortes">
    <img src="/assets/morte.png" alt="" class="icone-card">
    <div class="texto-cards">
        <p>1900000</p>
        <h3>Mortes</h3>
    </div>
</div>

<div class="paises-infectados">
    <img src="/assets/coronavirus2.png" alt="" class="icone-card">
    <div class="texto-cards">
        <p>123</p>
        <h3>Paises Infectados</h3>
    </div>
</div>

<div class="pais">
    <p class="titulo-card-pais">Pais</p>
</div>

<div class="bandeira-pais">
    <img src="/assets/brasil.png" alt="">
</div>


<div class="afetados">
    <img src="/assets/warning.png" alt="" class="icone-card">
    <div class="texto-cards">
        <p>1900000</p>
        <h3>Afetados</h3>
    </div>
</div>

<div class="curados">
    <img src="/assets/paciente.png" alt="" class="icone-card">
    <div class="texto-cards">
        <p>1900000</p>
        <h3>Curados</h3>
    </div>
</div>

<div class="mortes">
    <img src="/assets/morte.png" alt="" class="icone-card">
    <div class="texto-cards">
        <p>1900000</p>
        <h3>Mortes</h3>
    </div>
</div>

<div class="estados-infectados">
    <img src="/assets/coronavirus2.png" alt="" class="icone-card">
    <div class="texto-cards">
        <p>123</p>
        <h3>Estados Infectados</h3>
    </div>
</div>


